html[data-theme='light'] {
  --color-background-default: #ffffff;
  --color-background-default-hover: #f2f3f6;
  --color-background-default-burn: #e9ebf0;
  --color-background-default-subtle: #fcfcfd;
  --color-text-primary: #101828;
  --color-text-secondary: #354052;
  --color-text-tertiary: #676f83;
}

html[data-theme='dark'] {
  --color-background-default: #222225;
  --color-background-default-hover: #2f2f33;
  --color-background-default-burn: #1d1d20;
  --color-background-default-subtle: #222225;
  --color-text-primary: #fbfbfc;
  --color-text-secondary: #d9d9de;
  --color-text-tertiary: #dfe1e8;
}

@theme inline {
  --color-background-default: var(--color-background-default);
  --color-background-default-hover: var(--color-background-default-hover);
  --color-background-default-burn: var(--color-background-default-burn);
  --color-background-default-subtle: var(--color-background-default-subtle);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-tertiary: var(--color-text-tertiary);
}
